* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

main .logBlock {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .imageBlock {
  width: 50vw;
  height: 100vh;

  background: url("../../assets/Frame3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

main .login {
  width: 25vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
